*{
    margin: 0;
    padding: 0;
}

body{
    background-color: lavender;
    text-align: center;
}

h1{
    margin-top: 14px;
    font-size: 2.9rem;
    color: rgb(6, 6, 43);
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vh;
    width: 60vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 23px;
}

.box{
    height: 18vh;
    width: 18vh;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 5, 5, 0.9);
    font-size: 8vh;
    color: rgba(14, 14, 14, 0.728);
    background-color: pink;
    cursor: pointer;
}

#reset{
    padding: 0.7rem;
    font-size: 1.08rem;
    border: 1.9px solid magenta;
    background-color: rgb(27, 26, 26);
    color: rgb(241, 234, 234);
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

h2{
    font-size: 2.1rem;
    color: rgb(51, 2, 74);
    margin-top: 16px;
}